h1, h2, h3, h4, h5 {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Open Sans","Helvetica Neue",sans-serif;
}

p, li {
  font-family: "medium-content-serif-font",Georgia,Cambria,"Times New Roman",Times,serif;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -0.003em;
}

img {
  max-width: 100%;
}

pre {
  padding: 16px;
  overflow: auto;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
  font: 14px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.layoutSingleColumn {
  width: 700px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .layoutSingleColumn {
    margin: 20px auto;
    width: auto;
  }

  p , li {
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: -0.004em;
  }
}
